<footer class="footer">
  <div class="container-fluid clearfix">
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"
      >Copyright © <script>document.write(new Date().getFullYear())</script>
      <a href="https://www.facebook.com/ollincafeSG" target="_blank">Ollin Café</a>. All
      rights reserved.
      </span>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
      >
      Powered by
      <a href="http://mypeaga.xyz/" target="_blank">Peaga Inc</a>.
      Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i>
    </span>
  </div>
</footer>
