<link
    rel="stylesheet"
    href="/static/assets/css/shared/kienle-custom-style.css"
  />
<link
    rel="stylesheet"
    href="/static/assets/vendors/mdi/css/materialdesignicons.min.css"
  />
  <link
    rel="stylesheet"
    href="/static/assets/vendors/flag-icon-css/css/flag-icon.min.css"
  />
  <link
    rel="stylesheet"
    href="/static/assets/vendors/ti-icons/css/themify-icons.css"
  />
  <link
    rel="stylesheet"
    href="/static/assets/vendors/typicons/typicons.css"
  />
  <link
    rel="stylesheet"
    href="/static/assets/vendors/css/vendor.bundle.base.css"
  />

  <link rel="stylesheet" href="/static/assets/css/shared/style.css" />
  