<li class="nav-item active">
    <a class="nav-link" href="index.html">
    <i class="menu-icon mdi mdi-television"></i>
    <span class="menu-title">Dashboard</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="index2.html">
    <i class="menu-icon mdi mdi-texture"></i>
    <span class="menu-title">Sales</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#inventory-dropdown" aria-expanded="false" aria-controls="resources-dropdown">
    <i class="menu-icon mdi mdi-dna"></i>
    <span class="menu-title">Inventory</span>
    <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="inventory-dropdown">
    <ul class="nav flex-column sub-menu">
        <li class="nav-item">
        <a class="nav-link" href="#">Finance</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Orders</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Delivery</a>
        </li>
    </ul>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" href="#">
    <i class="menu-icon mdi mdi-texture"></i>
    <span class="menu-title">Accounts</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#directoty-dropdown" aria-expanded="false" aria-controls="resources-dropdown">
    <i class="menu-icon mdi mdi-dna"></i>
    <span class="menu-title">Directoty</span>
    <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="directoty-dropdown">
    <ul class="nav flex-column sub-menu">
        <li class="nav-item">
            <a class="nav-link" href="#">Staff</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Material</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Supplier</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Units</a>
        </li>
    </ul>
    </div>
</li>